.viewPortWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    flex: 0 0 50px;
    border: 1px solid red;
}

.layoutContainer {
    flex: 1 1 100%;
    border: 1px solid gray;
    display: flex;
}

.bodyContainer {
    flex: 1 1 100%;
    border: 1px solid gray;
}